body {
    background-color: black;
}

p {
    color: #680404;
}

.navbar-brand {
    color: #680404;
}

button {
    color:#000000;
    border-radius: 5px;
    padding: 4px;
    margin: 3px;
}

#animal-button {
    width: 50px;
    height: 20px;
}
#searches {
    position: fixed;
}