body {
    background-color: black;
}

p {
    color: #680404;
}

.navbar-brand {
    color: #680404;
}

.btn-danger {
    color:#000000;
    border-radius: 5px;
    padding: 4px;
}

#animal-button {
    width: 50px;
    height: 20px;
}